/* =============
    slick
============= */
#slick{

    display: grid;
    grid-template-columns: 2vw 96vw 2vw;
    grid-template-areas: ". slick .";
    overflow: hidden;
    padding-top: 100px;

    @include md{
        grid-template-columns: auto 80% auto;
    }

    @include lg{
        grid-template-columns: auto 70% auto;
    }

    @include xl{
        grid-template-columns: auto 60% auto;
    }

    >div{
        grid-area: slick;

        .slick-prev:before, .slick-next:before{
            color: $blue;
        }



        #slide-1{
            img{
                width: 100%;
            }
        }
        #slide-2{
            img{
                width: 100%;
            }
        }
        #slide-3{
            img{
                width: 100%;
            }
        }

    }

}