/* =============
    Section 3
============= */
#section-3{

   
    h2{
        text-align: center;
        padding: 50px;
        color: $blue;
        font-size: 30px;

    }
  

    >div{
        grid-area: section-3;

        @include lg{
            margin-left: 10%;
            margin-right: 10%;
        }
        ul{
            display: grid;
            grid-gap: 10px;
            grid-template-rows: repeat(1, 296px);
    
            @include md{
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 295px);
                grid-template-areas: 
                "trophy trophy confetti"
                "trophy trophy blur";
            }
            
            li{
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
    
            #trophy{
                background-image: url('../img/section-3/trophy.jpg');
                height: 370px;

                @include md{
                    grid-area: trophy;
                    background-position: center top;
                    height: 600px
                }
                
            }
    
            #confetti{
                background-image: url('../img/section-3/confetti.jpg');
                @include md{
                    grid-area: confetti;
                    
                }
            }
    
            #blur{
                background-image: url('../img/section-3/blur.jpg');

                @include md{
                    grid-area: blur;
                }
            }
    
        }
    }
}